* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: url(./images/galaxy.gif);
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin: 30px auto 20px;
}
input {
    border-radius: 3px;
    width: 300px;
    height: 40px;
    margin-right: 10px;
}

input::placeholder {
    padding-left: 10px;
}

select {
    text-transform: capitalize;
    height: 40px;
    margin-right: 5px;
}

button {
    border-radius: 3px;
    background-color: gray;
    color: white;
    height: 40px;
    cursor: pointer;
}

.container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.big {
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}
